.jumbotron {
  width: 650px;
  text-align: center;
  margin: 20px auto;
}

h3 {
  margin: 20px 0;
}

.table {
  margin-top: 20px;
}

.form-control {
  margin-bottom: 5px;
}

.selecionado {
  background-color: yellow;
}

.negrito {
  font-weight: bold;
}

hr {
  border-color: #999;
}
